*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --very-light-gray: #F8F8F8;
    --gray-dark: #636364;
    --light-red: #EA454C;
    --very-dark-gray: #565656;
}

body {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.5;
    background-color: var(--very-dark-gray);
}

/* Global */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.division-1 {
    background-color: var(--very-light-gray);
    padding: 4rem 5rem;
}

header {
    text-align: center;
    padding: 1rem;
}

header .title {
    font-weight: 600;
    font-size: 30px;
}

header .pre-title {
    color: var(--gray-dark);
    font-size: 12px;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email, .password{
    font-weight: 600;
    
}

input[type="email"], input[type="password"] {
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    box-shadow: 0 1px 10px 0 rgba(87, 79, 79, 0.19);
    outline: none;
    margin: 0.60rem 0;
    padding: 0.80rem;
}

.form-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    gap: 3rem;
    margin: 0.30rem 0;
}

.division-2 {
    background-image: url('c392ba101244345\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.checkbox-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.forgot-password {
    text-decoration: none;
    color: black;
}

.form-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1rem 0;
}

.btn-1 {
    background-color: var(--light-red);
    border: 1px solid var(--light-red);
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    padding: 0.80rem;
}

.btn-1:hover {
     background-color: #ea8d8d;
     color: #000000;
}

.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 0.50rem;
}

.btn-2:hover {
     background-color: #000000;
     color: #F8F8F8;
}

.btn-1, .btn-2 {
    box-shadow: 0 1px 10px 0 rgba(87, 79, 79, 0.19);
}

.google-icon {
    width: 25px;
    height: 25px;
}

/*Media Queries */
@media (max-width: 58em) {
    .container {
        grid-template-columns: 1fr;
    }
}
